<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/style.css" />
<meta charset="UTF-8">
<title>ASCII Chan</title>
</head>
<body>
	<h1> ASCII </h1>
	
	<form method="post" action="">
	
	<lable>
	<div>title</div>
	<input type="text" name="title1" value="{{title1}}"/>
	</lable>
	
	<label>
	<div>art</div>
	<textarea name="art1" value="{{art1}}"></textarea>
	</label>
	
	<div class="error">{{error1}}</div>
	<input type="submit" />
	</form>
<hr />
{% for art in arts1 %}
	<div>{{art.title}}</div>
	<pre>{{art.art}}</pre>
	<div>{{art.created}}</div>
{% endfor %}

</body>
</html>